@import '../../../style/style.scss';



.AddProducts input{
 
  height: 35px;
  font-size: 16px;
  padding: 5px;
}
.AddProducts label{
  font-size: 18px; 
  color: $firstColor;
}
.AddProducts .Description{
  height: 70px;
  padding-top: 5px;
  text-align: start;
  font-size: 18px; 
 
}
.AddProducts h1{
  text-align: center;
  color: $firstColor ;
  border-bottom: 2px solid $SecondColor;
  width: max-content;
  margin: auto;
  margin-top: 10px;
}
