$firstColor: #2850a8;
$greed: linear-gradient(to left, #021b51, #2850a8,#3658a1,#021b51);
$SecondColor: #f5bc59;
$height:160px;

@mixin alert {
  position: relative;
    opacity: 0.83;
    transition: opacity 0.6s;
    border-radius: 6px;
    font-size: 1.2em;
    width: 100%;
    margin: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: center;
    text-align: center;
    z-index: 0;
   

}

@mixin success {
    border: 1px solid yellow;
    border-left: 9px solid rgb(245, 245, 32);
    background-color: #e2dead;
    color: $firstColor;
    opacity: 0.8;

    z-index: 5;

}
@mixin overFlowText() {
  
 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}